html{
    background-color: #000000;
    color: #ffffff;
}

.container{
    text-align: center;
}

body{

    padding-top: 50px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

h1{
    padding-top: 0;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}

p{
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 1.5rem;
    margin: 0 auto;
    width: 50%;
    line-height: 1.5;
    font-family: 'Ubuntu Mono', monospace;
}
 .social{
     padding-top: 4rem;
     font-size: 2.4rem;
 }

 .spotify{
     color: #65e892;
 }
 .facebook{
     color: #354abf;
 }
 .twitter{
     color: #4fb9fc;
 }
 .telegram{
     color: #4fb9fc;
 }
 .github{
     color: #343434;
 }

